﻿
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Menuler.Gorevli.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HTakip.Menuler.GorevliGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>