﻿
@{
    ViewBag.Title = Serenity.LocalText.Get("Db.Administration.Role.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new HTakip.Administration.RoleGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>