﻿<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="home" id="ApplicationPath" href="~/" />
@Html.Stylesheet("~/Content/font-open-sans.css")
@Html.Stylesheet("~/Content/font-awesome.css")
@Html.Stylesheet("~/Content/simple-line-icons.css")
@Html.Stylesheet("~/Content/ionicons.css")
@Html.Stylesheet("~/Content/aristo/aristo.css")
@Html.Stylesheet("~/Content/bootstrap.css")
@Html.Stylesheet("~/Content/colorbox/jquery.colorbox.css")
@Html.Stylesheet("~/Content/jquery.fileupload.css")
@Html.Stylesheet("~/Content/pace.css")
@Html.Stylesheet("~/Content/slick.grid.css")
@Html.Stylesheet("~/Content/css/select2.css")
@Html.Stylesheet("~/Content/toastr.css")
@Html.Stylesheet("~/Content/serenity/serenity.css")
@Html.Stylesheet("~/Content/site/site.css")
@{var cookie = Request.Cookies["ThemePreference"]; var theme = cookie != null && !cookie.Value.IsEmptyOrNull() ? cookie.Value : "default"; }
<script type="application/json" id="ScriptCulture">@Html.Raw(Serenity.JSON.Stringify(new ScriptCulture()))</script>
<script type="text/javascript">window.paceOptions = { minTime: 250, ghostTime: 250, restartOnRequestAfter: 250, ajax: { trackMethods: ['GET', 'POST'], trackWebSockets: true, ignoreURLs: [] } };</script>
@Html.Script("~/Scripts/pace.js")
@foreach (var x in CommonIncludes.Scripts) { @Html.Script(x) }
@Html.Script("~/Scripts/jquery.cropzoom.js")
@Html.Script("~/Scripts/jquery.fileupload.js")
@Html.Script("~/Scripts/jquery.iframe-transport.js")
@Html.Script("~/Scripts/jquery.slimscroll.js")
@Html.Script("~/Scripts/mousetrap.js")
@Html.Script("~/Scripts/fastclick/fastclick.js")
@Html.Script("~/Scripts/adminlte/app.js")
@Html.Script("~/Scripts/Site/HTakip.Script.js")
<script src="~/DynJS.axd/@HtmlScriptExtensions.GetLocalTextInclude(this.Html, "Site")"></script>
<script src="~/DynJS.axd/@DynamicScriptManager.GetScriptInclude("ColumnsBundle")"></script>
<script src="~/DynJS.axd/@DynamicScriptManager.GetScriptInclude("FormBundle")"></script>
<script src="~/DynJS.axd/@DynamicScriptManager.GetScriptInclude("TemplateBundle")"></script>
<script src="~/DynJS.axd/@DynamicScriptManager.GetScriptInclude("RegisteredScripts")"></script>